@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@-webkit-keyframes top-slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes top-slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
.header {
  background: rgb(237, 236, 246);
  background: rgba(237, 236, 246, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  padding: 0 10px 0 5px;
  gap: 70px;
  font-family: montserrat;
  color: #515076;
}
.header__logo {
  height: 67px;
  width: 67px;
  position: relative;
  border-radius: 50%;
}
.header__logo-img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.header__shopping-cart {
  margin: 0 -34px 0 0;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}
.header__shopping-cart::after {
  content: "1";
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  width: 21px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border-radius: 50%;
  top: 0px;
  right: -6px;
  background: #757AA5;
}
.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}
.header__social-link {
  color: #515076;
  size: 16px;
  font-weight: 500;
  line-height: 239.529%;
}

.main {
  overflow: hidden;
}
.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 230px 10px 130px 5px;
}

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
.about__bg-img {
  position: relative;
  z-index: -1;
  grid-row: span 2;
}
.about__bg-img_wide {
  position: relative;
  z-index: -1;
  grid-column: span 2;
}
.about__bg-img_active {
  -webkit-animation: top-slide 4s ease 1 normal running 0s forwards;
          animation: top-slide 4s ease 1 normal running 0s forwards;
}
.about #bg-img-1 {
  position: absolute;
  top: -34%;
  left: -119%;
  width: 1455px;
  height: 1113px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about #bg-img-2 {
  position: absolute;
  top: -42%;
  left: -93%;
  width: 976px;
  height: 130%;
  opacity: 0.2;
  scale: -1 1;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}
.about #bg-img-3 {
  position: absolute;
  top: -200%;
  left: -43%;
  width: 1734px;
  height: 1158px;
  -o-object-fit: cover;
     object-fit: cover;
  scale: -1 1;
  z-index: -3;
}
.about__gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(35%, rgba(255, 255, 255, 0)), color-stop(73%, rgb(255, 255, 255)), to(rgb(255, 255, 255)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgb(255, 255, 255) 73%, rgb(255, 255, 255) 100%);
  position: absolute;
  top: -200%;
  left: 20%;
  width: 1000px;
  height: 1158px;
  z-index: -2;
}
.about__title {
  color: #515076;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 212.52px;
  font-size: 170px;
}
@media (min-width: 1465px) {
  .about__title {
    grid-column: span 2;
    font-size: 230px;
  }
}
.about__subtitle {
  color: #63678C;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 132.675%;
  max-width: 250px;
  margin: 95px 0 0;
}
.about #about__subtitle-2 {
  color: #757AA5;
  font-weight: 300;
  line-height: 109.4%;
  max-width: 350px;
  margin: 95px auto;
}
.about__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 390px;
  gap: 30px;
}
.about__text, .about__text_main {
  color: var(--body-text, #888794);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 170%;
}
.about__text_bold {
  color: #8888A8;
  font-weight: 700;
}
.about__text_main {
  color: #828282;
  font-weight: 500;
  margin: 60px 0 45px 0;
}
.about__button {
  margin: 95px auto;
  display: block;
  border-radius: 100px;
  background: #515076;
  height: 70px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.16px;
  text-transform: uppercase;
  padding: 0 30px;
}
.about__sub-subtitle {
  color: #888794;
  text-align: right;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 179.99%;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  max-width: 172px;
  margin: 95px 0 0 auto;
}
.about__sub-subtitle_bold {
  font-weight: 300;
  font-size: 36.8px;
}

.catalogue {
  position: relative;
}
.catalogue__container {
  max-width: 1100px;
  margin: 0 auto;
}
.catalogue__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.catalogue__title {
  color: #757AA5;
  text-align: center;
  font-family: Montserrat;
  font-size: 70px;
  font-weight: 200;
  line-height: 109.4%;
  margin: 450px 0 0;
}
.catalogue__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin: 60px 0 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalogue__bg-img {
  position: absolute;
  top: 17%;
  left: -20%;
  width: 847.316px;
  height: 668.988px;
  -webkit-transform: rotate(-165deg);
      -ms-transform: rotate(-165deg);
          transform: rotate(-165deg);
  scale: 1 -1;
  border-radius: 10%;
  z-index: -1;
  opacity: 0.1;
}

.special__slider {
  margin: 180px 0 0;
}

.navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.navigation__button, .navigation__button_active {
  padding: 25px 15px;
  border-radius: 3px;
  background: transparent;
  opacity: 0.5;
}
.navigation__button_active {
  background: rgba(81, 80, 118, 0.1);
  opacity: 1;
}

.product, .product_sale {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 329px;
          flex: 1 1 329px;
  background: #F7F7FA;
  min-width: 305px;
  position: relative;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
@media (hover: hover) {
  .product:hover, .product_sale:hover {
    background: #515076;
  }
  .product:hover .product_sale-img, .product_sale:hover .product_sale-img, .product:hover .product__content, .product:hover .product__content_sale, .product_sale:hover .product__content, .product_sale:hover .product__content_sale {
    color: #A5A3B9;
    -webkit-filter: brightness(1.5);
            filter: brightness(1.5);
  }
  .product:hover .product__image-img, .product_sale:hover .product__image-img {
    -webkit-filter: brightness(0.75);
            filter: brightness(0.75);
  }
  .product:hover .product__button-img, .product_sale:hover .product__button-img {
    -webkit-filter: brightness(2);
            filter: brightness(2);
  }
}
@media (hover: none) {
  .product:active, .product_sale:active {
    background: #515076;
  }
  .product:active .product_sale-img, .product_sale:active .product_sale-img, .product:active .product__content, .product:active .product__content_sale, .product_sale:active .product__content, .product_sale:active .product__content_sale {
    color: #A5A3B9;
    -webkit-filter: brightness(1.5);
            filter: brightness(1.5);
  }
  .product:active .product__image-img, .product_sale:active .product__image-img {
    -webkit-filter: brightness(0.75);
            filter: brightness(0.75);
  }
  .product:active .product__button-img, .product_sale:active .product__button-img {
    -webkit-filter: brightness(2);
            filter: brightness(2);
  }
}
.product_sale {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 380px;
          flex: 1 1 380px;
}
.product_sale-img {
  position: absolute;
  color: #515076;
  top: 20px;
  left: 20px;
  -webkit-transition: color 0.3s, -webkit-filter 0.3s;
  transition: color 0.3s, -webkit-filter 0.3s;
  transition: color 0.3s, filter 0.3s;
  transition: color 0.3s, filter 0.3s, -webkit-filter 0.3s;
}
.product__content, .product__content_sale {
  color: #515076;
  font-family: Montserrat;
  padding: 60px 40px 50px;
  position: relative;
  -webkit-transition: color 0.3s, -webkit-filter 0.3s;
  transition: color 0.3s, -webkit-filter 0.3s;
  transition: color 0.3s, filter 0.3s;
  transition: color 0.3s, filter 0.3s, -webkit-filter 0.3s;
}
.product__content_sale {
  padding: 60px 45px 50px;
}
.product__image, .product__image_sale {
  position: relative;
  padding: 0 0 280px;
  margin: 0 -40px;
}
.product__image_sale {
  padding: 0 0 350px;
  margin: 0 -45px;
}
.product__image-img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}
.product__title {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 135.99%;
}
.product__title::before {
  content: "для нормальной кожи";
  display: block;
  color: #A5A3B9;
  font-size: 12px;
  font-weight: 500;
  line-height: 199.99%;
  letter-spacing: 2.76px;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 35px 0 0;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 135.99%;
}
.product__price_sale {
  margin: 35px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 10px;
}
.product__price_sale p {
  opacity: 0.8;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 135.99%;
}
.product__price_sale p:first-child {
  opacity: 0.6;
  font-size: 18px;
  font-weight: 500;
  line-height: 135.99%;
  text-decoration: line-through;
}
.product__button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: transparent;
}
.product__button-img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 0 auto;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.slider-special__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 185px;
  font-family: Montserrat;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.slider-special__title-section {
  width: 337px;
  position: relative;
}
.slider-special__title {
  color: #757AA5;
  font-size: 70px;
  font-weight: 275;
  line-height: 109.4%;
  padding: 20px 0 0 0;
}
.slider-special__subtitle {
  margin: 100px 0 0;
  color: #888794;
  font-size: 18px;
  font-weight: 500;
  line-height: 199.99%;
}
.slider-special__button, .slider-special__button_right, .slider-special__button_left {
  background: none;
  color: #888794;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}
.slider-special__button_left {
  scale: -1 1;
  left: 0;
}
.slider-special__button_right {
  left: 19px;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
}
.slider-special__button_disabled {
  opacity: 0.4;
  cursor: default;
}
.slider-special__slider-section {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 810px;
          flex: 1 0 810px;
  background: #F7F7FA;
  -webkit-box-shadow: -40px 40px 0px 0px #515076;
          box-shadow: -40px 40px 0px 0px #515076;
}
.slider-special__slider-section-body {
  position: relative;
  overflow: hidden;
  padding: 60px 330px 65px 60px;
}
.slider-special__slider-section::before {
  content: "для нормальной кожи";
  -webkit-transform: rotate(-90deg) translate(0, -80%);
      -ms-transform: rotate(-90deg) translate(0, -80%);
          transform: rotate(-90deg) translate(0, -80%);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  color: #FFF;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 199.99%;
  letter-spacing: 2.21px;
  text-transform: uppercase;
  opacity: 0.8;
}
.slider-special__number {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #EDECF6;
}
.slider-special__slider-text {
  margin: 30px 0 0;
  color: #888794;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 199.99%;
}
.slider-special__slider-text:nth-child(2) {
  color: #4C5072;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  max-width: 337px;
}
.slider-special__img {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -35%);
      -ms-transform: translate(0, -35%);
          transform: translate(0, -35%);
  scale: 1.3;
}
.slider-special__gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 12%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(247, 247, 250, 0)), color-stop(60%, rgb(247, 247, 250)), to(rgb(247, 247, 250)));
  background: linear-gradient(to right, rgba(247, 247, 250, 0) 0%, rgb(247, 247, 250) 60%, rgb(247, 247, 250) 100%);
}

.container {
  max-width: 1500px;
  padding: 0 50px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}