$trTime: .3s
.img-gallery
	display: flex
	gap: calc( 65/590*100% )
	position: relative
	&-bg
		position: absolute
		bottom: 0
		right: 0
		top: 0
		left: 0
		background: #FAFAFA
		scale: 1.6 1.9
		z-index: -1
		transform: translate(0, -11%)
	&__item
		flex: 0 1 30%
		position: relative
		padding: 0 0 calc( 173/590*100% )
		opacity: 0.5
		transition: opacity $trTime
		z-index: 4
		box-shadow: #515076 0 -6px 0 0
		opacity: 0.5
		&:hover
			opacity: 0.8
		&-img
			@include image-fit
		&_active
			opacity: 1
			&:hover
				opacity: 1
	&__button
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 5
		background: transparent
