$trTime: .3s
.navigation
	flex: 1 1 auto
	&__list
		display: flex
		gap: 10px
	&__element

	&__button
		padding: 25px 15px
		border-radius: 3px
		background: transparent
		opacity: 0.5
		transition: background $trTime, opacity $trTime
		@include hover
			background: rgba(81, 80, 118, 0.10)
		&:active
			@extend .navigation__button_active
		&_active
			@extend .navigation__button
			background: rgba(81, 80, 118, 0.10)
			opacity: 1
