$trTime: .3s ease-out
.about
	&__content
		display: grid
		grid-template-columns: repeat(auto-fit,minmax(450px, 1fr))
	&__bg-img
		position: relative
		z-index: -1
		grid-row: span 2
		user-select: none
		&_wide
			position: relative
			z-index: -1
			grid-column: span 2
		&_active
			animation: top-slide 4s ease 1 normal running 0s forwards
	#bg-img-1
		position: absolute
		top: -34%
		left: -119%
		width: 1455px
		height: 1113px
		object-fit: cover
	#bg-img-2
		position: absolute
		top: -42%
		left: -93%
		width: 976px
		height: 130%
		// object-fit: cover
		opacity: 0.2
		scale: -1 1
		filter: grayscale(50%)
	#bg-img-3
		position: absolute
		top: -200%
		left: -43%
		width: 1734px
		height: 1158px
		object-fit: cover
		scale: -1 1
		z-index: -3
	&__gradient
		// background: #000
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 35%,rgba(255,255,255,1) 73%,rgba(255,255,255,1) 100%)
		position: absolute
		top: -200%
		left: 20%
		width: 1000px
		height: 1158px
		z-index: -2
		user-select: none
	&__title
		color: #515076
		font-family: "Playfair Display"
		font-weight: 400
		line-height: 212.52px
		font-size: 170px
		@media (min-width: 1465px)
			grid-column: span 2
			font-size: 230px
	&__subtitle
		color: #63678C
		font-family: Montserrat
		font-size: 36px
		line-height: 132.675%
		max-width: 250px
		margin: 95px 0 0
	#about__subtitle-2
		color: #757AA5
		font-weight: 300
		line-height: 109.4%
		max-width: 350px
		margin: 95px auto
	&__article
		display: flex
		flex-direction: column
		max-width: 390px
		gap: 30px
		// padding: 0 20px 0 40px
	&__text
		color: var(--body-text, #888794)
		font-family: Montserrat
		font-size: 18px
		font-weight: 400
		line-height: 170%
		&_bold
			color: #8888A8
			font-weight: 700
		&_main
			@extend .about__text
			color: #828282
			font-weight: 500
			margin: 60px 0 45px 0
	&__button
		user-select: none
		margin: 95px auto
		display: block
		border-radius: 100px
		background: #515076
		height: 70px
		color: #FFF
		text-align: center
		font-family: Montserrat
		font-size: 13px
		font-style: normal
		font-weight: 600
		line-height: normal
		letter-spacing: 4.16px
		text-transform: uppercase
		padding: 0 30px
		transition: background-color $trTime, color $trTime, box-shadow .2s, transform .2s
		border: 2px solid #c9c9c9
		@include hover
			background-color: #515076
			box-shadow: #515076 0 7px 0 0
			transform: translateY(-7px)
		&:active
			transform: translateY(0px)
			box-shadow: #515076 0 0 0 0
	&__sub-subtitle
		color: #888794
		text-align: right
		font-family: "Work Sans"
		font-size: 16px
		font-weight: 500
		line-height: 179.99%
		letter-spacing: 4.8px
		text-transform: uppercase
		max-width: 172px
		margin: 95px 0 0 auto
		&_bold
			font-weight: 300
			font-size: 36.8px
